#solution_render,
#answer_render
{
    display: block;
    border: 1px solid gray;
    margin: 1%;
    width: 45%;
    min-height: 8ex;
}

#answer {
    padding: 6px;
    margin: 1%;
}

#solution_show {
    margin-top: 10ex;
}
